# Compiled object files, dep files, and libraries
*.o
*.a
*.d
*.so

# Module files
*.mod

# Python byte-compiled / optimization / DLL files
__pycache__/
*.py[cod]

# Build files and related
config.log
config.status
autom4te.cache/
build/

# Backups and swap files
*.bak
*~
*.swp

# Files for testing
/test/
/temp/
/test*
/temp*

# Executables
*.x
*.out
